<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheMovieDatabaseBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D4DD1001F666EFE000230BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4DD1161F666EFF000230BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4DD1211F666EFF000230BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
